.error-ziplength {
    text-align: right;
    margin-top: 15px;
    span {
        background: rgba(27,29,33,0.75);
        border-radius: 5px 5px 5px 5px;
        padding: 5px 15px 5px 15px;
        font-family: "Basier";
        color: rgba(217, 81, 72, .9);
        border: 1px solid rgba(217, 81, 72, .9);
        text-align: center;
        font-size: .9em;
        line-height: 1.4em;
        opacity: 1;
    }
}

.error-fetchfail {
    text-align: right;
    margin-top: 15px;

    span {
        background: rgba(27,29,33,0.75);
        border-radius: 5px 5px 5px 5px;
        padding: 5px 15px 5px 15px;
        font-family: "Basier";
        color: rgba(217, 81, 72, .9);
        border: 1px solid rgba(217, 81, 72, .9);
        text-align: center;
        font-size: .9em;
        line-height: 1.4em;
        opacity: 1;
    }
}

.error-nozipresults {
    text-align: right;
    margin-top: 15px;

    span {
        background: rgba(27,29,33,0.75);
        border-radius: 5px 5px 5px 5px;
        padding: 5px 15px 5px 15px;
        font-family: "Basier";
        color: rgba(217, 81, 72, .9);
        border: 1px solid rgba(217, 81, 72, .9);
        text-align: center;
        font-size: .9em;
        line-height: 1.4em;
        opacity: 1;
    }
}

.error-sightingtoofar {
    text-align: right;
    margin-top: 15px;

    span {
        background: rgba(27,29,33,0.75);
        border-radius: 5px 5px 5px 5px;
        padding: 5px 15px 5px 15px;
        font-family: "Basier";
        color: rgba(217, 81, 72, .9);
        border: 1px solid rgba(217, 81, 72, .9);
        text-align: center;
        font-size: .9em;
        line-height: 1.4em;
        opacity: 1;
    }
}

.error-nosightingresults {
    text-align: right;
    margin-top: 15px;

    span {
        background: rgba(27,29,33,0.75);
        border-radius: 5px 5px 5px 5px;
        padding: 5px 15px 5px 15px;
        font-family: "Basier";
        color: rgba(217, 81, 72, .9);
        border: 1px solid rgba(217, 81, 72, .9);
        text-align: left;
        word-wrap: normal;
        display: inline-block;
        font-size: .9em;
        width: 392px;
        line-height: 1.4em;
        opacity: 1;
    }
}
