
.error-ziplength {
    color: red;

}

.error-fetchfail {
    color: blue;

}

.error-nozipresults {
    color: green;

}

.error-sightingtoofar {
    color: green;

}

.error-nosightingresults {
    color: yellow;

}
