.faqhidden {
    z-index: 5;
    position: fixed;
    bottom: 30%;
    left: 30px;
    color: white;
    background: rgba(27, 29, 33, 0.75);
    border-radius: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    font-family: 'Basier';
    font-size: 0.8em;
}

.faqcontainer {
    z-index: 5;
    position: fixed;
    bottom: 30%;
    left: 30px;
    display: flex;
    flex-direction: column;
    background: rgba(27, 29, 33, 0.75);
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    color: white;
    flex-wrap: wrap;
    width: 310px;
    font-family: 'Basier';
    font-size: 0.9em;
    span {
        margin-left: 270px;
        cursor: pointer;
    }
    .faqheader {
        text-align: center;
        padding: 5px 0px 6px 0px;
        text-decoration: underline;
        h1 {
            text-align: center;
        }
    }

    .faqquestion {
        padding: 5px 0px 8px 7px;
        font-size: 0.9em;
        font-weight: bold;
        line-height: 1.25em;
    }

    .faqanswer {
        padding: 0px 0px 0px 13px;
        font-size: 0.8em;
        line-height: 1.2em;
        p {
            padding: 1px 0px 5px 0px;
        }
    }
}
