#credits {
    z-index: 5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    color: white;
    opacity: 0.25;
    font-size: 0.65em;
    font-family: 'Basier';

    a {
        border-bottom: 1px solid;
    }

    span {
        margin: 0px 5px 0px 5px;
    }

    .creditsemoji {
        font-size: 0.9em;
        padding-top: 2px;
    }
}
