@import 'styles/_breakpoints.scss';

#splashwrapper {
    z-index: 6;
    cursor: pointer;

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    h1 {
        color: #dedede;
        text-shadow: 2px 2px 1px black;
        font-size: 2em;
        position: fixed;
        top: 50px;
        left: 50px;
        z-index: 8;
        font-family: 'Garet-heavy';
        animation-name: fadein;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    p {
        color: #dedede;
        font-size: 1em;
        line-height: 122%;
        width: 475px;
        font-family: 'Basier';
        position: fixed;
        top: 110px;
        left: 50px;
        z-index: 8;
        opacity: 0;
        text-shadow: 2px 2px 1px black;
        animation-name: fadein;
        animation-delay: 1.2s;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    span {
        font-size: 0.75em;
        z-index: 8;
        opacity: 0;
        color: #dedede;
        text-shadow: 2px 2px 2px black;
        font-family: 'Basier';
        position: fixed;
        bottom: 40px;
        left: 40px;
        animation-name: fadein;
        animation-delay: 1.2s;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes blink {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    h2 {
        color: #d9d9d9;
        text-shadow: 2px 2px 2px black;
        font-size: 1em;
        font-family: 'Basier';
        position: fixed;
        bottom: 5%;
        right: 4%;
        z-index: 8;
        opacity: 0;
        animation-name: fadein, blink;
        animation-iteration-count: 1, infinite;
        animation-direction: normal, alternate;
        animation-delay: 2.2s, 3.7s;
        animation-duration: 1.5s, 2s;
        animation-timing-function: linear, linear;
        animation-fill-mode: forwards;
    }

    #splashimagewrapper {
        @keyframes slideup {
            from {
                top: 0%;
            }

            to {
                top: -158%;
            }
        }

        img {
            position: fixed;
            left: -850px;
            transform: scale(0.75);
            animation-name: slideup;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;

            @include breakpoint-large-down {
                transform: scale(0.7) translate(-15%, -2%);
            }

            @include breakpoint-xlarge-only-tall {
                left: -870px;
                transform: scale(0.8) translate(2%, 19%);
            }

            @include breakpoint-xlarge-only-medium {
                left: -860px;
                transform: scale(0.8) translate(3%, 13%);
            }

            @include breakpoint-xlarge-only-short {
                left: -850px;
                transform: scale(0.8) translate(3%, 8%);
            }

            @include breakpoint-xxlarge-up-tall {
                transform: translate(9%, 17%);
            }

            @include breakpoint-xxlarge-up-medium {
                transform: translate(7%, 12%);
            }

            @include breakpoint-xxlarge-up-short {
                transform: translate(6%, 8%);
            }
        }
    }
}
