@import 'styles/_breakpoints.scss';

#splashwrapper {
    z-index: 6;

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    h1 {
        color: #dedede;
        font-size: 2em;
        position: fixed;
        top: 50px;
        left: 50px;
        z-index: 8;
        font-family: 'Garet-heavy';
        animation-name: fadein;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    p {
        color: #dedede;
        font-size: 1em;
        line-height: 125%;
        width: 475px;
        font-family: 'Basier';
        position: fixed;
        top: 125px;
        left: 50px;
        z-index: 8;
        opacity: 0;
        // text-shadow: 2px 2px 3px #4287f5;
        background: rgba(27, 29, 33, 0.75);
        border-radius: 10px 10px 10px 10px;
        padding: 10px 15px 10px 15px;
        animation-name: fadein;
        animation-delay: 1.2s;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    span {
        font-size: 0.75em;
        z-index: 8;
        opacity: 0;
        color: #dedede;
        text-shadow: 2px 2px 2px black;
        font-family: 'Basier';
        position: fixed;
        bottom: 40px;
        left: 40px;
        animation-name: fadein;
        animation-delay: 1.2s;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes blink {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    h2 {
        color: #d9d9d9;
        text-shadow: 2px 2px 2px black;
        font-size: 1em;
        font-family: 'Basier';
        position: fixed;
        bottom: 5%;
        right: 4%;
        z-index: 8;
        opacity: 0;
        animation-name: fadein, blink;
        animation-iteration-count: 1, infinite;
        animation-direction: normal, alternate;
        animation-delay: 2.2s, 3.7s;
        animation-duration: 1.5s, 2s;
        animation-timing-function: linear, linear;
        animation-fill-mode: forwards;
    }

    #splashimagewrapper {
        @keyframes slideup {
            from {
                top: 0%;
            }

            to {
                top: -110%;
            }
        }

        @keyframes slideup-large-only {
            from {
                top: 0%;
            }

            to {
                top: -110%;
            }
        }

        @keyframes slideup-xlarge-only {
            from {
                top: 0%;
            }

            to {
                top: -158%;
            }
        }

        @keyframes slideup-xxlarge-up {
            from {
                top: 0%;
            }

            to {
                top: -110%;
            }
        }

        img {
            //z-index: 7;
            position: fixed;
            left: -650px;
            transform: scale(0.75);

            //defaults set for large only
            animation-name: slideup-xlarge-only;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;

            @include breakpoint-large-down {
                transform: scale(0.8) translate(-3%, -2%);
            }

            @include breakpoint-xlarge-only {
                left: -850px;
            }

            @include breakpoint-xxlarge-up {
                transform: translate(5%, 16%);
            }
        }
    }
}
