@import 'breakpoints';

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
	font-size: 12px;

    @include breakpoint-small-up {
        font-size: 14px;
    }

    @include breakpoint-medium-up {
        font-size: 16px;
    }

    @include breakpoint-large-up {
        font-size: 18px;
    }

    @include breakpoint-xxlarge-up {
        font-size: 20px;
    }
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}

// - - - FONTS - - -

@font-face {
    font-family: 'Woodchuck-Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Woodchuck-Heavy'), url('../fonts/Woodchuck-Heavy.woff2') format('woff2');
    }

@font-face {
    font-family: 'Woodchuck-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Woodchuck-Bold'), url('../fonts/Woodchuck-Bold.woff2') format('woff2');
    }

@font-face {
    font-family: 'Woodchuck-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Woodchuck-Light'), url('../fonts/Woodchuck-Light.woff2') format('woff2');
    }

@font-face {
    font-family: 'Woodchuck-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Woodchuck-Regular'), url('../fonts/Woodchuck-Regular.woff2') format('woff2');
    }

@font-face {
    font-family: 'Woodchuck-Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Woodchuck-Thin'), url('../fonts/Woodchuck-Thin.woff2') format('woff2');
    }


@font-face {
    font-family: 'Basier';
    font-style: normal;
    font-weight: normal;
    src: local('Basier'), url('../fonts/basiercircle-regular-webfont.woff') format('woff');
    }

    