.earth-container {
    position: absolute;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    h1 {
        color: #dedede;
        position: fixed;
        top: 50px;
        left: 50px;
        z-index: 5;
        font-size: 1.7em;
        font-family: 'Garet-heavy';
        letter-spacing: 0.1rem;
    }

    span {
        position: fixed;
        bottom: 25px;
        left: 45%;
        z-index: 1;
        label {
            color: white;
            font-family: 'Basier';
            margin-left: 5px;
            font-size: 0.9em;
        }
    }
}
