.instructionshidden {
    z-index: 5;
    position: fixed;
    top: 71%;
    left: 30px;
    color: white;
    background: rgba(27, 29, 33, 0.75);
    border-radius: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    font-family: 'Basier';
    font-size: 0.8em;
}

.instructionscontainer {
    z-index: 5;
    position: fixed;
    top: 71%;
    left: 30px;
    display: flex;
    flex-direction: column;
    background: rgba(27, 29, 33, 0.75);
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    color: white;
    flex-wrap: wrap;
    width: 310px;
    font-family: 'Basier';
    font-size: 0.9em;

    span {
        margin-left: 270px;
        cursor: pointer;
    }

    .instructionsheader {
        text-align: center;
        padding: 9px 0px 5px 0px !important;
        text-decoration: underline;
        h1 {
            text-align: center;
        }
    }

    .instructionsstep {
        padding: 8px 0px 8px 7px;
        font-size: 0.8em;
    }
}
