.search {
    display: flex;
    .searchbar-input {
        input {
            height: 50px;
        }
        #zipsearchsubmit {
            // padding: 0px, 5px, 0px, 5px;
            width: 105px;
        }
        #zipinput {
            width: 200px;
        }
    }
}