.earth-container {
    position: absolute;
    h1 {
        color: white;
        font-size: 2em;
        position: fixed;
        top: 50px;
        left: 50px;
        z-index: 5;
        font-family: 'Woodchuck-Bold';
        text-shadow: 2px 2px #4287f5;
    }

    span {
        position: fixed;
        bottom: 25px;
        left: 45%;
        z-index: 1;
        label {
            color: white;
            font-family: 'Basier';
            margin-left: 5px;
            font-size: .9em;
        }

    }
    
}

