.earth-container {
    position: absolute;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    h1 {
        color: white;
        position: fixed;
        top: 50px;
        left: 50px;
        z-index: 5;
        // font-family: 'Woodchuck-Bold';
        // text-shadow: 2px 2px #4287f5;
        // font-size: 2em;
        font-size: 1.7em;
        font-family:  "Garet-heavy";
        //font-family:  "Sora-ExtraBold";

        letter-spacing: .1rem;
    }

    span {
        position: fixed;
        bottom: 25px;
        left: 45%;
        z-index: 1;
        label {
            color: white;
            font-family: 'Basier';
            margin-left: 5px;
            font-size: .9em;
        }

    }
    
}

