

.sightingresults {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(27,29,33,0.75);
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    width: 400px;
    //changing width to pixels to try to help with details div expansion
    // previously: width: 135%;
    

    .sightingheader {
        color: #C6C6C5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0px 5px 0px;
        border-bottom: 1px dotted #C6C6C5;
        // width: 123%;
    }

    .sightingcard {
        color: #bdbdbd;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        padding: 17px 0px 17px 0px;
        border-bottom: 1px solid #393939;
        font-size: .85em;

        &:hover {
            // transform: scale(1.000005, 1);
            color: #ebebeb;
            // -webkit-transform: scale(1.1, 1.1);
            // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            // -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            // transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            // box-shadow: 0 6px 6px 0 grey;

        }

        .card_overview {
            display: flex;
            justify-content: space-between;

        }

        .card_detail {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            margin-top: 2%;
            span {
                display: flex;
                // justify-content: space-between;
                flex-direction: column;
                span {
                    margin-top: 9px;
                }
            }
            span {
                // margin-left: 1%;
                img {
                    width: 145px;
                    padding-left: 50px;
                    // padding-left: 5%;
                }
            }
        }

        // #sightingdownarrow {
        //     transform: scale(.5);
        // }

        #headerspacingspan {
            width: 10%;
        }

    }

    :last-child {
        border-bottom: none;
    }

    :first-child:hover {
        transform: scale(1, 1);
    }

}
